@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", serif;
  font-weight: 600;
  background-color: #faf8f0;
}
.admin {
  width: calc(100% - 16rem);
}
.crimson {
  font-family: "Crimson Pro", serif;
}
.green {
  color: #1e381e;
}
.image-drag {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
header {
  background-color: #faf8f0;
}
.hero {
  height: 510px !important;
}
.ship {
  height: 100vh !important;
}
.swiper-pagination-bullet {
  border: 2px solid #1e381e !important;
  background: #fff !important;
}
.swiper-pagination-bullet-active {
  background-color: #1e381e !important;
}
.searchpannel {
  z-index: 999999999 !important;
  scrollbar-width: none;
  margin: 0 !important;
}
.searchpannel::-webkit-scrollbar {
  display: none;
}
/* Shimmer container */
.shimmer-container {
  background: linear-gradient(to right, #e0e0e0 0%, #f5f5f5 50%, #e0e0e0 100%);
  background-size: 200% auto;
  border-radius: 4px;
  height: 500px;
  animation: shimmer 1.5s linear infinite; /* Animation duration increased for smoothness */
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
/* Swiper custom navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #1e381e !important;
  transition: color 300s ease-in-out;
  width: 40px !important;
  height: 40px !important;
  background: #f5f5f5;
  border-radius: 50%;
  overflow: hidden;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional: Change the hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #d1d1d1 !important;
  transform: scale(1.1);
}

/* ======================== Search pannel ========================== */
.ais-Hits-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  cursor: pointer;
  margin: 60px auto;
}

.ais-Hits-item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
  width: 24%;
}

.product-image-container {
  position: relative;
  overflow: hidden;
}

.product-image {
  width: 100%;
  transition: transform 0.5s;
}

.product-card:hover .product-image {
  transform: scale(1.1);
}

.product-hover-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.product-card:hover .product-hover-image {
  opacity: 1;
}
.product-title {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
  position: relative;
}

.title-underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #b18e35;
  transition: width 0.5s;
}

.product-card:hover .title-underline {
  width: 100%;
}
.product-card:hover .product-title {
  color: #b18e35;
}
.wishlist {
  height: 20px !important;
  object-fit: cover;
}

.ais-SearchBox{
  position: relative;
    width: 100%;
    max-width: 800px; 
    margin: 1rem auto;
}
.ais-SearchBox-form{
  display: flex;
    align-items: center;
    border: 2px solid #d1d5db; 
    border-radius: 9999px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
    transition: all 0.3s ease;
    height: 60px;
}
.ais-SearchBox-form:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
}
.ais-SearchBox-input{
  flex-grow: 1;
    padding: 0.75rem 1rem; 
    font-size: 1rem; 
    font-weight: 500; 
    color: #1f2937; 
    background-color: transparent;
    border: none;
    outline: none;
}
.ais-SearchBox-submit{
  padding: 0 1rem; 
  color: #6b7280; 
  transition: all 0.3s ease;
  border-radius: 9999px; 
  background: none;
  border: none;
  cursor: pointer;
}
.ais-SearchBox-submit svg{
width:20px !important;
height: 20px !important;
color: #6b7280 !important;
}
.ais-SearchBox-reset{
  display: none;
}

/* .ais-SearchBox-loadingIndicator{
  margin: 20px auto;
  display: block;
} */



/* ================================================ MEDIA QUERY ========================================== */

@media (max-width: 766px) {
  .ship {
    height: 1000px !important;
  }
  .ais-Hits-item {
    width: 48%;
}
}
@media (max-width: 700px) {
  .hero {
    height: 800px !important;
  }
  .ship {
    height: 860px !important;
  }
  .footer-banner-mob {
    height: 700px !important;
  }
  .shimmer-container {
    height: 220px;
  }
}
@media (max-width: 500px) {
  .hero {
    height: 650px !important;
  }
  .ship {
    height: 700px !important;
  }
  .footer-banner-mob {
    height: 600px !important;
  }
}

@media (max-width: 400px) {
  .ship {
    height: 580px !important;
  }
  .footer-banner-mob {
    height: 500px !important;
  }
}
