@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", serif;
  font-weight: 600;
  background-color: #faf8f0;
}

.crimson {
  font-family: "Crimson Pro", serif;
}
.green {
  color: #1e381e;
}
header {
  background-color: #faf8f0;
}
.hero {
  height: 510px !important;
}
.ship {
  height: 100vh !important;
}
.swiper-pagination-bullet {
  border: 2px solid #1e381e !important;
  background: #fff !important;
}
.swiper-pagination-bullet-active {
  background-color: #1e381e !important;
}
.searchpannel {
  z-index: 999999999 !important;
  scrollbar-width: none; 

}
.searchpannel::-webkit-scrollbar {
  display: none; 
}

@media (max-width: 766px) {
  .ship {
    height: 1000px !important;
  }
}
@media (max-width: 700px) {
  .hero {
    height: 800px !important;
  }
  .ship {
    height: 860px !important;
  }
  .footer-banner-mob {
    height: 700px !important;
  }
}
@media (max-width: 500px) {
  .hero {
    height: 650px !important;
  }
  .ship {
    height: 700px !important;
  }
  .footer-banner-mob {
    height: 600px !important;
  }
}

@media (max-width: 400px) {
  .ship {
    height: 580px !important;
  }
  .footer-banner-mob {
    height: 500px !important;
  }
}
