@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", serif;
  font-weight: 600;
  background-color: #faf8f0;
}
.admin{
  width: calc(100% - 16rem);
}
.crimson {
  font-family: "Crimson Pro", serif;
}
.green {
  color: #1e381e;
}
header {
  background-color: #faf8f0;
}
.hero {
  height: 510px !important;
}
.ship {
  height: 100vh !important;
}
.swiper-pagination-bullet {
  border: 2px solid #1e381e !important;
  background: #fff !important;
}
.swiper-pagination-bullet-active {
  background-color: #1e381e !important;
}
.searchpannel {
  z-index: 999999999 !important;
  scrollbar-width: none; 
  margin: 0!important;

}
.searchpannel::-webkit-scrollbar {
  display: none; 
}

@media (max-width: 766px) {
  .ship {
    height: 1000px !important;
  }
}
@media (max-width: 700px) {
  .hero {
    height: 800px !important;
  }
  .ship {
    height: 860px !important;
  }
  .footer-banner-mob {
    height: 700px !important;
  }
}
@media (max-width: 500px) {
  .hero {
    height: 650px !important;
  }
  .ship {
    height: 700px !important;
  }
  .footer-banner-mob {
    height: 600px !important;
  }
}

@media (max-width: 400px) {
  .ship {
    height: 580px !important;
  }
  .footer-banner-mob {
    height: 500px !important;
  }
}




.checkbox-wrapper-50 {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.checkbox-wrapper-50 .plus-minus {
  --primary: #1E2235;
  --secondary: #FAFBFF;
  --duration: 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 240px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 4px solid var(--primary);
  background-size: 300% 300%;
  transition: transform 0.3s;
  transform: scale(var(--scale, 1)) translateZ(0);
  -webkit-animation: var(--name, unchecked-50) var(--duration) ease forwards;
          animation: var(--name, unchecked-50) var(--duration) ease forwards;
  margin: 0;
}

.checkbox-wrapper-50 .plus-minus::before,
.checkbox-wrapper-50 .plus-minus::after {
  content: "";
  position: absolute;
  width: 16px;
  height: var(--height, 16px);
  left: 6px;
  top: var(--top, 6px);
  background: var(--background, var(--primary));
  -webkit-animation: var(--name-icon-b, var(--name-icon, unchecked-icon-50)) var(--duration) ease forwards;
          animation: var(--name-icon-b, var(--name-icon, unchecked-icon-50)) var(--duration) ease forwards;
}

.checkbox-wrapper-50 .plus-minus::before {
  -webkit-clip-path: polygon(0 6px, 6px 6px, 6px 0, 10px 0, 10px 6px, 16px 6px, 16px 10px, 10px 10px, 10px 16px, 6px 16px, 6px 10px, 0 10px);
          clip-path: polygon(0 6px, 6px 6px, 6px 0, 10px 0, 10px 6px, 16px 6px, 16px 10px, 10px 10px, 10px 16px, 6px 16px, 6px 10px, 0 10px);
}

.checkbox-wrapper-50 .plus-minus::after {
  --height: 4px;
  --top: 12px;
  --background: var(--secondary);
  --name-icon-b: var(--name-icon-a, checked-icon-50);
}

.checkbox-wrapper-50 .plus-minus:active {
  --scale: 0.95;
}

.checkbox-wrapper-50 .plus-minus:checked {
  --name: checked-50;
  --name-icon-b: checked-icon-50;
  --name-icon-a: unchecked-icon-50;
}

@-webkit-keyframes checked-icon-50 {
  from {
    transform: translateZ(12px);
  }
  to {
    transform: translateX(16px) rotateY(90deg) translateZ(12px);
  }
}

@keyframes checked-icon-50 {
  from {
    transform: translateZ(12px);
  }
  to {
    transform: translateX(16px) rotateY(90deg) translateZ(12px);
  }
}

@-webkit-keyframes unchecked-icon-50 {
  from {
    transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
  }
  to {
    transform: translateZ(12px);
  }
}

@keyframes unchecked-icon-50 {
  from {
    transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
  }
  to {
    transform: translateZ(12px);
  }
}

@-webkit-keyframes checked-50 {
  from {
    background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
    background-position: 100% 50%;
  }
  to {
    background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
    background-position: 50% 50%;
  }
}

@keyframes checked-50 {
  from {
    background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
    background-position: 100% 50%;
  }
  to {
    background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
    background-position: 50% 50%;
  }
}

@-webkit-keyframes unchecked-50 {
  from {
    background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
    background-position: 100% 50%;
  }
  to {
    background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
    background-position: 50% 50%;
  }
}

@keyframes unchecked-50 {
  from {
    background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
    background-position: 100% 50%;
  }
  to {
    background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
    background-position: 50% 50%;
  }
}
